.planScreen{
    position: relative;
    .planScreen_container {
        opacity: 0.8;
        display: flex;
        justify-content: space-between;
        margin: 10px;
 

        .planScreen_currentPackage{
            background: gray;
        }
    }
    .planScreen_loading {
        position: absolute;
        top: 30%;
        left: 30%;
    }

    .planScreen_container:hover {
        opacity: 1;
    }
    
    .planScreen_plan {
        h6 {
            font-weight: normal;
        }
    }

    button {
        padding: 10px 20px;
        font-size: 1rem;
        width: 200px;
        color: white;
        background: #e50914;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    h4 {
        margin: 15px 0;
        margin-left: 10px;
    }
}