.banner {
    height:100vh;
    width: 100%;
    position: relative;
    object-fit: cover;
    color: white;
    
    overflow: hidden;
    .banner__contents {
        position: absolute;
        margin-left: 8vw;
        padding-top: 15rem;

        .banner__buttons{

            .banner__button {
                color:white;
                outline: none;
                border: none;
                font-weight: 700;
                border-radius: 0.2vw;
                padding: 10px 40px;
                margin-right: 20px;
                font-size: 18px;
                background-color: rgba(51,51,51,0.5);
                cursor: pointer;
                transition: all 0.5s ease;
            }

            .banner__button:hover {
                background-color: white;
                color: black;
            }
        }

        .banner__title {
            margin-bottom: 1rem;
            font-weight: 700;
            font-size: 70px;
            width: 30rem;
        }

        .banner__desc {
            margin: 1rem 0;
            font-size: 20px;
            width: 40vw;
            height: 4vh;
            font-weight: normal;
        }   
    }
    .banner__fadebottom {
        height: 100vh;
        background-image: linear-gradient(180deg,transparent, rgba(37, 37, 37, 0.61), #111);
    }
}